.options__inner {
    margin-top: 50px;
    margin-bottom: 25px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    column-gap: 30px;
}

.options__replenish , .options__piggy,
.options__history , .options__pay {
    width: 100px;
    height: 100px;
    background-color: rgba(235, 235, 235, 0.267);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    border-radius: 20px;
    font-size: 32px;
}
.options__text {
    padding-top: 5px;
    font-size: 18px;
}

.options__replenish:hover , .options__piggy:hover,
.options__history:hover , .options__pay:hover {
    cursor: pointer;

}
.options__replenish {
    background-color: rgba(16, 156, 211, 0.24);
    color:rgb(16, 156, 211);
}

.options__piggy {
    background-color: rgb(255,242,241);
    color:rgb(235, 91, 75);
}
.options__pay {
    background-color: rgba(169, 236, 200, 0.274);
    color:rgb(59, 253, 150);
}
.options__history {
    background-color:rgba(196, 93, 174, 0.205);
    color:rgb(196,93,174);
}